.position {
    position: absolute;
}

.bodyL {
    width: 215px;
    height: 430px;
    background-color: darkred;
}

.headL{
    width: 129px;
    height: 129px;
    background-color: darksalmon;
}

.pistolPart1{
    width: 129px;
    height: 43px;
    top: 301px;
    left: 473px;
}

.pistolPart2{
    width: 86px;
    height: 86px;
    top: 301px;
    left: 387px;
}

.color{
    background-color: black;
}

.head1{
    top: 172px;
    left: 129px;
}

.head2{
    top: 172px;
    left: 989px;
}

.body1{
    top: 301px;
    left: 86px;
}

.body2{
    top: 301px;
    left: 946px;
}

.hand{
    width: 344px;
    height: 86px;
    top: 344px;
    left: 129px;
    background-color: darksalmon;
}

.bullet{
    width: 43px;
    height: 43px;
    top: 301px;
    left: 559px;
    background-color: darkgrey;
}