.container {
    left: 0px;
    top: 0px;
    height: 240px;
    width: 600px;
}

.position {
    position: absolute;
}

.corps {
    left: 0px;
    top: 120px;
    height: 120px;
    width: 600px;
    border-radius: 10px;
}

.roof {
    left: 60px;
    top: 0px;
    height: 120px;
    width: 340px;
    border-radius: 55% 55% 0 0 ;
}

.glass-1 {
    left: 240px;
    top: 20px;
    height: 100px;
    width: 140px;
    border-radius: 0 50% 0 0;
}

.glass-2 {
    left: 80px;
    top: 20px;
    height: 100px;
    width: 140px;
    border-radius: 50% 0 0 0;
}

.wheel-1 {
    left: 60px;
    top: 160px;
    height: 160px;
    width: 160px;
    border-radius: 100%;
}

.wheel-2 {
    left: 380px;
    top: 160px;
    height: 160px;
    width: 160px;
    border-radius: 100%;
}

.headlight-1 {
    left: 540px;
    top: 140px;
    height: 40px;
    width: 60px;
}

.headlight-2 {
    left: 0px;
    top: 140px;
    height: 40px;
    width: 40px;
}

.color-1 {
    background: #be0000;
}

.color-2 {
    background: aqua;
}

.color-3 {
    background: black;
}

.color-4 {
    background: red;
}